<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219581200143-vu6ghm4qia7030pd82uiahtpvq5m86hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219581200143-vu6ghm4qia7030pd82uiahtpvq5m86hb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219581200143-h038fu40otvbl9vpaup43jdunthgvo3j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEHsvYMlPND5dJlxW6yIeLTNp7HoIvGsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>219581200143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinned</string>
	<key>PROJECT_ID</key>
	<string>pinned-ad50a</string>
	<key>STORAGE_BUCKET</key>
	<string>pinned-ad50a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219581200143:ios:cfe34480af6d13c28cf07a</string>
	<key>DATABASE_URL</key>
	<string>https://pinned-ad50a.firebaseio.com</string>
</dict>
</plist>